body {
    background-color: rgb(224, 223, 223);
    margin: 0;
    padding: 0;
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr;
}
header {
    background-color: #3c5a99;
    width: 850px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}
.buttons {
    position: relative;
    top: -45px;
    left: 600px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    border: none;
    color: #3c5a99;
}
#follow-button {
    margin: 0;
    padding: 5px;
}
#message {
    margin: 0;
}
#dots {
    margin: 0;
    padding: 5px 20px;
}
h2 {
    position: relative;
    top: 15px;
    left: 200px;
    color: white;
    font-family: sans-serif;
}
h3 {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: lighter;
}
h4 {
    position: relative;
    left: 200px;
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
}
nav {
    height: 50px;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    justify-content: flex-end;
}
.navbutton {
    border-top: none;
    border-bottom: none;
    border-left: none;
    margin: 15px 2.5px;
    text-align: center;
    font-size: 15px;
}
button:hover {
    text-decoration: underline #3c5a99;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
#profile-pic {
    position: relative;
    top: 125px;
    left: 25px;
    border-width: thin;
    border-style: solid;
    background-color: #3c5a99;
    height: 150px;
    width: 150px;
    z-index: 1;
}
#timeline {
    margin-left: 200px;
}
.show {
    display: block;
}
/*flexcontainer : */
.widget {
    display: grid;
    justify-content: inherit;
    grid-template-columns: auto auto auto;
    color: #444;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}
.line2 {
    margin-top: 125px;
    font-weight: lighter;
}
.col {
    margin-top: 10px;
    background-color: white;
    border-width: 1px;
    border-color: rgb(207, 207, 207);
    border-style: solid;
    text-align: left;
}
/* left-side {
    height: 175px;
    margin-bottom: 225px;
    display: flex;
    justify-content: center; */

#left {
    width: 328px;
    height: 320px;
    border: gray 1pt;
    margin-right: 25px;
    padding: 10px;
}
#right {
    padding: 10px;
    height: 230px;
    width: 455px;
    margin-bottom: 200px;
    display: flex;
    flex-flow: column;
    text-align: left;
}
.box {
    display: flex;
    flex-direction: row;
    border-width: thin;
    border-style: solid;
    border-color: black;
    background-color: #3c5a99;
    height: 20px;
    width: 20px;
    margin-top: 0.2in;
    margin-left: 5px;
    justify-content: space-around;
}
#post-name {
    margin-bottom: 5px;
}
h6 {
    margin: 0;
    font-weight: lighter;
    color: grey;
}
.post-button {
    position: relative;
    bottom: 7px;
    border: none;
    background-color: rgb(231, 228, 228);
}
#like-button {
    color: #3c5a99;
    margin-left: 15px;
    padding: 0;
}
#comment {
    color: #3c5a99;
    margin: 0;
    padding:0;
}
#share {
    color: #3c5a99;
    margin: 0px;
    padding: 0px;
}
#post-actions {
    position: relative;
    top: 30px;
    background-color: rgb(231, 228, 228);
    height: 40px;
    border-top: 1px solid rgb(204, 202, 202);
}
.icon {
    color: transparent;
    text-shadow: 0 0 black;
}
#right-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.box2 {
    display: flex;
    flex-direction: row;
    border-width: thin;
    border-style: solid;
    border-color: #3c5a99;
    height: 20px;
    width: 20px;
    margin-top: 0.2in;
    margin-right: 5px;
}
